apparmor==3.0.4
appdirs==1.4.4
btrfsutil==5.16.2
CacheControl==0.12.6
cffi==1.15.0
chardet==4.0.0
click==8.0.4
colorama==0.4.4
contextlib2==0.6.0.post1
cryptography==36.0.1
distlib==0.3.4
distro==1.7.0
dnspython==2.2.0
docutils==0.16
Flask==2.0.3
gunicorn==20.1.0
html5lib==1.1
idna==3.3
importlib-metadata==4.8.1
itsdangerous==2.1.0
Jinja2==3.0.3
LibAppArmor==3.0.4
Markdown==3.3.6
MarkupSafe==2.1.0
more-itertools==8.10.0
msgpack==1.0.3
ordered-set==4.0.2
packaging==20.9
pep517==0.12.0
ply==3.11
progress==1.6
pycairo==1.20.1
pycparser==2.21
pygame==2.1.2
PyGObject==3.42.0
pyOpenSSL==21.0.0
pyparsing==3.0.0
requests==2.27.1
resolvelib==0.5.5
retrying==1.3.3
SCons==4.3.0
shiboken2==5.15.2.1
six==1.16.0
team==1.0
toml==0.10.2
tomli==2.0.0
urllib3==1.26.8
webencodings==0.5.1
Werkzeug==2.0.3
zipp==3.7.0
